{% extends 'blog/base.html' %}
{% block content %}
    <div class="content-section" style="border-radius: 10pt; text-align: center; align-content: center;">
        <h3 style= "font-weight: bold;"> 
            <span style="color:  #4c4af5ff;"> Olosh Blog </span> 
            Brought To You By 
            <span style="color:  rgb(0, 158, 206);">Olosh Softwares</span>
        </h3><br>
        <img src="/olosh.png" alt="olosh" width="140" height="120">
        <!-- <img src="Desktop/Environments/djangoproject/media/olosh.png" alt="olosh" width="140" height="120"> -->
        <br> <br>
        <p style="font-size: 16pt;">
            Check out our other projects <a href="https://github.com/orgs/0l0sh-n3twork/projects">here</a>
        </p>
    </div>
{% endblock content %}