{% extends 'blog/base.html' %}
{% block content %}
    <br>
    {% for post in posts %}
        <article class="media content-section" style="border-radius: 10pt;">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted"> {{ post.date_posted|date:"l, F d, Y" }}</small>
            </div>
            <h3><a class="article-title" href="{% url 'post-detail' post.id %}"">{{ post.title }}</a></h3>
            <p class="article-content" style="color: rgb(88, 88, 88);">{{ post.content }}</p>
            {% if post.image %}
            <small>
                <a class="text-muted" style="margin-bottom: 5pt;" href="{% url 'post-detail' post.id %}">
                    This Post Contains Images
                </a>
            </small>
            {% endif %}
            <div class="border-top pt-.5">
                <!-- <small class="text-muted">500 Upvotes</small>
                <small class="text-muted ml-3">300 Downvotes</small>                 -->
                <small class="text-muted ml-1">{{ post.comments.count}} Comments</small>
            </div>
            {% if user.is_authenticated %}
                <div class="border-top pt-3 ">
                    <!-- <a class="btn btn-primary btn-sm" style="color:whitesmoke;">
                        <i class="fa fa-angle-up fa-lg" aria-hidden="true"></i> <span class="pl-.5">Upvote</span>
                    </a>
                    <a class="btn btn-warning btn-sm ml-3">
                        <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i> <span class="pl-.5">Downvote</span>
                    </a> -->
                    <a class="btn btn-warning btn-sm ml-1"href="{% url 'post-detail' post.id %}">
                        <i class="fa fa-comment fa-lg" aria-hidden="true"></i> <span class="pl-.5">Comment</span>
                    </a>
                </div>
            {% endif %}
            </div>

        </article>
    {% endfor %}
    <div style="text-align: center;">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-primary mb-4" href="?page=1">Latest</a>
            <a class="btn btn-outline-secondary mb-4" href="?page={{page_obj.previous_page_number}}">
                <i class="fa fa-angle-left" aria-hidden="true"></i> <span class="pl-.5">Previous</span>
            </a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-secondary mb-4" href="?page={{num}}"> {{num}}</a>
            {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4' %}
                <a class="btn btn-outline-secondary mb-4" href="?page={{num}}"> {{num}}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-secondary mb-4" href="?page={{page_obj.next_page_number}}">
                <span class="pr-.5">Next</span> <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="btn btn-outline-primary mb-4" href="?page={{page_obj.paginator.num_pages}}">Oldest</a>
        {% endif %}

    {% endif %}
    </div>
    <br>
    <!--I know it isn't supposed to written this but I wrote it anyways-->
    {% if page_obj.paginator.count > page_obj.number|add:'6' %}
        <h4 class="mb-3" style="text-align: center;">
            Posts So far: {{ page_obj.paginator.count }}
        </h4>
    {% endif %}

{% endblock content %}