{% extends 'blog/base.html' %}
{% block content %}
    <br> 
    {% for post in posts %} 
        <article class="media content-section" style="border-radius: 7px;">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted"> {{ post.date_posted|date:"l, F d, Y" }}</small>
            </div>
            <h3><a class="article-title" href="{% url 'post-detail' post.id %}"">{{ post.title }}</a></h3>
            <p class="article-content" style="color: rgb(88, 88, 88);">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    <div style="text-align: center;">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-primary mb-4" href="?page=1">Latest</a>
            <a class="btn btn-outline-secondary mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-secondary mb-4" href="?page={{num}}"> {{num}}</a>
            {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4' %}
                <a class="btn btn-outline-secondary mb-4" href="?page={{num}}"> {{num}}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-secondary mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
            <a class="btn btn-outline-primary mb-4" href="?page={{page_obj.paginator.num_pages}}">Oldest</a>
        {% endif %}

    {% endif %}
    </div>
    <br>
    <h4 class="mb-3" style="text-align: center;">
        Posts So far: {{ page_obj.paginator.count }}
    </h4>
{% endblock content %}