{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <br> 
    <article class="media content-section mb-2" style="border-radius: 10pt;">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username%}">{{ object.author }}</a>
                <small class="text-muted"> {{ object.date_posted|date:"l, F d, Y" }}</small>
                {% if object.author == user %} 
                    <small class="ml-2">
                        <a class="btn btn-primary btn-sm" style="color:whitesmoke;" href="{% url 'post-update' object.id %}">
                            <i class="fa fa-pencil" aria-hidden="true"></i><span class="pl-1">Edit</span>
                        </a>
                        <a class="btn btn-danger btn-sm ml-2" style="color:whitesmoke;" href="{% url 'post-delete' object.id %}">
                            <i class="fa fa-trash" aria-hidden="true"></i><span class="pl-1">Delete</span>
                        </a>
                    </small>               
                {% endif %}
            </div>            
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content" style="color: rgb(88, 88, 88);">{{ object.content }}</p>
            {% if object.image %}
                <img src="{{ object.image.url }}">
            {% endif %}
            <div class="border-top pt-.5">
                <!-- <small class="text-muted">2 Upvotes</small>
                <small class="text-muted ml-3">3 Downvotes</small>                 -->
                <small class="text-muted ml-1">{{object.comments.count}} Comments</small>
                
            </div> 
            <!-- {% if user.is_authenticated %}
                <div class="border-top pt-3 mb-4">
                    <a class="btn btn-primary btn-sm" style="color:whitesmoke;">
                        <i class="fa fa-angle-up fa-lg" aria-hidden="true"></i><span class="pl-1">Upvote</span>
                    </a>
                    <a class="btn btn-warning btn-sm ml-2">
                        <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i><span class="pl-1">Downvote</span>
                    </a>                
                </div>
            {% endif %} -->
    </article>
   
    <div class="content-section pt-1" style="border-radius: 10pt;">
        {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"> Make a Comment </legend>
                    {{ form.as_p }}  
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-success" type="submit"> Share!</button>
                </div>
            </form>
        {% endif %}
        <legend class="border-bottom mb-1 pt-5"></legend>           
        <legend class="border-bottom mb-4 "> 
            <i class="fa fa-comments" aria-hidden="true"></i><span class="ml-1">Comments</span>
        </legend>
        {% for comment in object.comments.all %} 
            <article class="media content-section " style="border-radius: 7px; background-color: rgb(250, 250, 250);">
                <img class="rounded-circle mr-2" src="{{ comment.author.profile.image.url }}" height="40" width="40">
                <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2">{{ comment.author }}</a>
                    <small class="text-muted"> {{ comment.time_posted|date:"j M, f A" }}</small>
                </div>            
                <p class="article-content mb-0">{{ comment.content }}</p>
                </div>                                  
            </article>
        {% endfor %}
        <div class="border-top pt-3 ">
            <small class="text-muted">
                <a class="ml-.5" href="{% url 'blog-home' %}"> Go Back</a>
            </small> 
        </div>
    </div> 

{% endblock content %}