{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section" style="border-radius: 10pt;">
        <form method="POST" enctype='multipart/form-data' id="postform" >
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Share Your Knowledge! </legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-dark" type="submit">Post</button>
            </div>
        </form>
        <div class="border-top pt-3 ">
            <small class="text-muted">
                <a class="ml-.5" href="{% url 'blog-home' %}"> Go Back</a>
            </small> 
        </div>

    </div>
{% endblock content %}