{% extends 'blog/base.html' %}
{% block content %}
    <div style="text-align: center; border-radius: 10pt;">
        <h2  style="color: white;">You are logged out</h2>
        <div class="border-top pt-3 " style="color: white;">
            <small style="color: rgb(212, 212, 212);">
                Have an account?<a class="ml-.5" href="{% url 'login' %}"> Login</a> or<a class="ml-.5" href="{% url 'register' %}"> Register</a>
            </small> 
        </div>
    </div>
{% endblock content %}